<!-- start page title -->
<app-pagetitle title="Form Editor" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <h4 class="card-title">Ngx-editor Classic Editor</h4>
                <a href="https://www.npmjs.com/package/@ckeditor/ckeditor5-angular" target="_blank"
                    class="btn btn-sm btn-secondary-subtle">Docs <i class="mdi mdi-arrow-right align-middle"></i></a>
            </div><!-- end card header -->
            <div class="card-body">
                <div class="NgxEditor__Wrapper">
                    <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
                    <ngx-editor [editor]="editor" [ngModel]="html" [disabled]="false" [placeholder]="'Type here...'"
                    ></ngx-editor>
                </div>
            </div>
        </div>
    </div><!-- end col-->
</div><!-- end row -->